<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.cloudos.mapper.TTemplateFieldCMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="top.cloudos.entity.TTemplateFieldC">
        <id column="id" property="id" />
        <result column="template_id" property="templateId" />
        <result column="field_id" property="fieldId" />
        <result column="field_name_cn" property="fieldNameCn" />
        <result column="field_name_en" property="fieldNameEn" />
        <result column="field_column" property="fieldColumn" />
        <result column="order_num" property="orderNum" />
        <result column="archive_cate" property="archiveCate" />
        <result column="data_type" property="dataType" />
        <result column="field_length" property="fieldLength" />
        <result column="data_format" property="dataFormat" />
        <result column="default_data" property="defaultData" />
        <result column="verify_rule" property="verifyRule" />
        <result column="option_name" property="optionName" />
        <result column="property_name" property="propertyName" />
        <result column="prompts" property="prompts" />
        <result column="display_width" property="displayWidth" />
        <result column="display_height" property="displayHeight" />
        <result column="security_level" property="securityLevel" />
        <result column="del_interface" property="delInterface" />
        <result column="read_interface" property="readInterface" />
        <result column="search_interface" property="searchInterface" />
        <result column="list_interface" property="listInterface" />
        <result column="add_interface" property="addInterface" />
        <result column="edit_interface" property="editInterface" />
        <result column="is_index" property="isIndex" />
        <result column="required_fields" property="requiredFields" />
        <result column="archives_constitute" property="archivesConstitute" />
        <result column="is_auto_increment" property="isAutoIncrement" />
        <result column="is_association_field" property="isAssociationField" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
    </resultMap>

</mapper>
