<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.cloudos.es.mapper.UserMapper">

    <resultMap id="UserResult" type="User">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="age" property="age"/>
        <result column="sex" property="sex"/>
        <result column="phoneNumber" property="phoneNumber"/>
        <result column="email" property="email"/>
        <result column="createTime" property="createTime"/>
    </resultMap>

</mapper>