<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.cloudos.mapper.ChunkInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="top.cloudos.upload.entity.ChunkInfo">
        <id column="ID" property="id" />
        <result column="CHUNK_NUMBER" property="chunkNumber" />
        <result column="CHUNK_SIZE" property="chunkSize" />
        <result column="CURRENT_CHUNK_SIZE" property="currentChunkSize" />
        <result column="IDENTIFIER" property="identifier" />
        <result column="FILENAME" property="filename" />
        <result column="RELATIVE_PATH" property="relativePath" />
        <result column="TOTAL_CHUNKS" property="totalChunks" />
        <result column="TOTAL_SIZE" property="totalSize" />
        <result column="FILE_TYPE" property="fileType" />
    </resultMap>

    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        ID, CHUNK_NUMBER, CHUNK_SIZE, CURRENT_CHUNKSIZE, IDENTIFIER, FILENAME, RELATIVE_PATH,
        TOTAL_CHUNKS, TOTAL_SIZE, FILETYPE
    </sql>

    <select id="selectChunkNumbers" parameterType="top.cloudos.upload.entity.ChunkInfo" resultType="int">
        select CHUNK_NUMBER
        from CHUNK_INFO
        where IDENTIFIER = #{identifier,jdbcType=VARCHAR}
          and FILENAME = #{filename,jdbcType=VARCHAR}
    </select>

</mapper>
